*.*
*
!*/
!/nemu
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/npc-chisel/*
!/npc-chisel
!/ysyxSoC/*
!/ysyxSoC
!/docs/*
!/cacheSim/*
!/branchSim/*
!/nvboard
!Makefile
!README.md
!.gitignore
!init.sh
!/am-kernels/*
!/software/*
/fceux-am
