[submodule "nemu"]
	path = nemu
	url = git@github.com:yizishun/riscv-emu.git
[submodule "npc-chisel"]
	path = npc-chisel
	url = git@github.com:yizishun/riscv-core.git
[submodule "nvboard"]
	path = nvboard
	url = git@github.com:NJU-ProjectN/nvboard.git
[submodule "ysyxSoC"]
	path = ysyxSoC
	url = git@github.com:yizishun/ysyxSoC.git
